body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  background-color: #e7e9e1;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #4c5eab;
  --main-height: 82rem;
  --main-width: 64rem;
  --header-height: 14rem;
  --footer-height: 3rem;
  --content-height: calc(var(--main-height) - var(--header-height) - var(--footer-height));
  --avatar-radius: 8rem;
  --aside-width: 35%;
  --content-width: calc(100% - var(--aside-width));
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: var(--main-width);
  height: var(--main-height);
}
.content {
  height: var(--content-height);
}

.portfolio {
  background-color: #ffffff;
  width: var(--content-width);
  height: inherit;
  float: right;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: var(--primary-color);
  height: var(--footer-height);
  width: var(--main-width);
}
